/******************** Elements ********************/

body {
	background: $preto;
	font-family: Arial;
	position: relative;
}

/******************** Classes ********************/

/******************** Ids ********************/

/******************** Media Queries ********************/